<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia Econômica</title>
</head>

<body>
    <div>
        <button>Nova</button>
    </div>
    <div>

        <table>
            <thead>
            <th>Despesa</th>
            <th>Categoria</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Meio pagamento</th>
        </thead>
        <tbody>
            <tr>
                <td>Ralador</td>
                <td>Utensilios domésticos</td>
                <td>22/08/2021</td>
                <td>545,90</td>
                <td>Cartão Débito</td>
            </tr>
            <tr>
                <td>Compra do mês Sup. BH</td>
                <td>Alimentação</td>
                <td>22/08/2021</td>
                <td>55,90</td>
                <td>Cartão Crédito</td>
            </tr>
            <tr>
                <td>Compra do mês Sup. BH</td>
                <td>Alimentação</td>
                <td>22/08/2021</td>
                <td>545,90</td>
                <td>Cartão Débito</td>
            </tr>
            <tr>
                <td>Compra do mês Sup. BH</td>
                <td>Alimentação</td>
                <td>22/08/2021</td>
                <td>545,90</td>
                <td>Cartão Débito</td>
            </tr>
            <tr>
                <td>Compra do mês Sup. BH</td>
                <td>Alimentação</td>
                <td>22/08/2021</td>
                <td>545,90</td>
                <td>Cartão Débito</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    footer
</div>
</body>

</html>